.copyRight{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

.privacy{
    color: #ff7c07;
    font-style: normal;
    font-weight: 400;
        font-size: 16px;
line-height: 19px;
    }